<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>
<body>
    <%- include ('../partials/header') %>
    <div class="content-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Completion Status</th>
                </tr>
            </thead>
            <tbody>
                <% animes.forEach(a => { %>  
                    <tr>
                        <td><%= a.title %></td>
                        <td><%= a.completionStatus %></td>
                        <td>
                            <a href="/animes/<%= a.id %>">DETAILS</a>
                        </td>
                        <td>
                            <a href="/animes/edit/<%= a.id %>">EDIT</a>
                        </td>
                        <td> 
                            <form method="POST" action="/animes/<%= a._id %>?_method=DELETE" class="delete-button-content">
                                <button class="delete-button" type="submit">DELETE</button>
                            </form>
                        </td>      
                    </tr>
                <% }) %>        
            </tbody>
        </table>    
    </div>
    <%- include ('../partials/footer') %>
</body>
</html>